CONDITIONAL_DEBUG=true
CONDITIONAL_HOST_NAME="localhost:8080"
CONDITIONAL_SERVER_NAME="localhost:8080"
CONDITIONAL_IP="0.0.0.0"
CONDITIONAL_PORT=8080
CONDITIONAL_PROFILING=false # change this to true if you want to see function call times
CONDITIONAL_LDAP_BIND_DN="uid=<you>,cn=users,cn=accounts,dc=csh,dc=rit,dc=edu"
CONDITIONAL_LDAP_BIND_PW=
CONDITIONAL_OIDC_ISSUER="https://sso.csh.rit.edu/auth/realms/csh"
CONDITIONAL_OIDC_CLIENT_ID=develop
CONDITIONAL_OIDC_CLIENT_SECRET=
CONDITIONAL_OIDC_CLIENT_REDIRECT="http://localhost:8080/redirect_uri"
CONDITIONAL_OIDC_CLIENT_LOGOUT="http://localhost:8080/logout"
