{
    "extends": "google",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "impliedStrict": true
        }
    },
    "env": {
        "browser": true,
        "es6": true,
        "commonjs": true,
        "jquery": true
    },
    "rules": {
        "no-new": 0
    }
}