// Material Switches for Member Management Toggles
.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
    display: block;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

// Flat Buttons

$btn-flat-hover-bg: rgba(153, 153, 153, 0.2);

.btn-flat {
    background-color: transparent;
    position: relative;
    padding: 8px 25px;
    margin: 0 5px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0 !important;
    box-shadow: none !important;
}

.btn-flat:hover {
    background-color: $btn-flat-hover-bg;
}

.btn-primary:active {
    background: darken($btn-flat-hover-bg, 20%) radial-gradient(circle, #7a1158 10%, #b0197e 11%) no-repeat;
    background-size: 1000% 1000%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}