// SweetAlert
// 2014 (c) - Tristan Edwards
// github.com/t4t5/sweetalert

@use 'pkg:csh-material-bootstrap/sass/variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/forms';
@import 'sweet-alert-animations';
// @import 'ball-fall';

body {
  .stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
}

.sweet-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  background-color: rgba(0, 0, 0, .4);
}

.sweet-alert {
  $width: 478px;
  $padding: 17px;

  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2000;
  margin-top: -200px;
  margin-left: -($width / 2+ $padding);
  outline: none;
  border-radius: 5px;
  background-color: $body-bg;
  padding: $padding;
  width: $width;
  overflow: hidden;
  text-align: center;
  @media all and (max-width: $screen-xs-max) {
    right: ($grid-gutter-width / 2);
    left: ($grid-gutter-width / 2);
    margin-right: 0;
    margin-left: 0;
    width: auto;
  }
  .form-group {
    display: none;
    .sa-input-error {
      display: none;
    }
  }
  .text-muted {
    color: inherit;
  }
  &.show-input .form-group {
    display: block;
  }
  .sa-button-container {
    button {
      outline: none;
      min-width: 100px;
    }
  }
  .sa-confirm-button-container {
    display: inline-block;
    position: relative;
  }
  .la-ball-fall {
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    margin-top: -9px;
    margin-left: -27px;
    width: 55px;
  }
  button {
    &[disabled] {
      opacity: .6;
      cursor: default;
    }
    &.confirm[disabled] {
      color: transparent;
      ~ .la-ball-fall {
        visibility: visible;
        opacity: 1;

        transition-delay: 0s;
      }
    }
  }
  .sa-icon {
    position: relative;
    margin: 20px auto;
    border: 4px solid gray;
    border-radius: 50%;
    width: 80px;
    height: 80px;

    box-sizing: content-box;
    &.sa-error {
      border-color: $btn-danger-border;
      .sa-x-mark {
        display: block;
        position: relative;
      }
      .sa-line {
        display: block;
        position: absolute;
        top: 37px;
        border-radius: 2px;
        background-color: $btn-danger-bg;
        width: 47px;
        height: 5px;
        &.sa-left {
          left: 17px;
          transform: rotate(45deg);
        }
        &.sa-right {
          right: 16px;
          transform: rotate(-45deg);
        }
      }
    }
    &.sa-warning {
      border-color: $btn-warning-border;
      .sa-body {
        // Exclamation mark body
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -2px;
        border-radius: 2px;
        background-color: $btn-warning-bg;
        width: 5px;
        height: 47px;
      }
      .sa-dot {
        // Exclamation mark dot
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -3px;
        border-radius: 50%;
        background-color: $btn-warning-bg;
        width: 7px;
        height: 7px;
      }
    }
    &.sa-info {
      border-color: $btn-info-border;
      &::before {
        position: absolute;
        bottom: 17px;
        left: 50%;
        margin-left: -2px;
        border-radius: 2px;
        background-color: $btn-info-bg;
        width: 5px;
        height: 29px;
        // i-letter body
        content: '';
      }
      &::after {
        position: absolute;
        top: 19px;
        margin-left: -3px;
        border-radius: 50%;
        background-color: $btn-info-bg;
        width: 7px;
        height: 7px;
        // i-letter dot
        content: '';
      }
    }
    &.sa-success {
      border-color: $btn-success-border;
      &::before,
      &::after {
        position: absolute;
        transform: rotate(45deg);
        border-radius: 50%;
        background: $body-bg;
        width: 60px;
        height: 120px;
        // Emulate moving circular line
        content: '';
      }
      &::before {
        top: -7px;
        left: -33px;
        transform: rotate(-45deg);
        border-radius: 120px 0 0 120px;

        transform-origin: 60px 60px;
      }
      &::after {
        top: -11px;
        left: 30px;
        transform: rotate(-45deg);
        border-radius: 0 120px 120px 0;

        transform-origin: 0 60px;
      }
      .sa-placeholder {
        position: absolute;
        top: -4px;
        left: -4px;
        z-index: 2;
        border: 4px solid lighten($brand-success, 20%);
        border-radius: 50%;
        // Ring
        width: 80px;
        height: 80px;

        box-sizing: content-box;
      }
      .sa-fix {
        position: absolute;
        top: 8px;
        left: 28px;
        transform: rotate(-45deg);
        z-index: 1;
        background-color: $body-bg;
        // Hide corners left from animation
        width: 5px;
        height: 90px;
      }
      .sa-line {
        display: block;
        position: absolute;
        z-index: 2;
        border-radius: 2px;
        background-color: $btn-success-bg;
        height: 5px;
        &.sa-tip {
          top: 46px;
          left: 14px;
          transform: rotate(45deg);
          width: 25px;
        }
        &.sa-long {
          top: 38px;
          right: 8px;
          transform: rotate(-45deg);
          width: 47px;
        }
      }
    }
    &.sa-custom {
      border: none;
      border-radius: 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
  .btn-default {
    @include form-control-focus($btn-default-border);
  }
  .btn-success {
    @include form-control-focus($btn-success-border);
  }
  .btn-info {
    @include form-control-focus($btn-info-border);
  }
  .btn-danger {
    @include form-control-focus($btn-danger-border);
  }
  .btn-warning {
    @include form-control-focus($btn-warning-border);
  }
  button::-moz-focus-inner {
    border: 0;
  }
}
