{% extends "base_protected.html" %}
{% block title %}
Attendance History
{% endblock %}
{% block body %}
<div class="container main">
    {% if pending_cm|length != 0 and current_page == 1 %}
    <h3 class="page-title">Pending Submissions</h3>
    <div class="list-group">
        {% for meeting in pending_cm %}
        <div class="list-group-item container-fluid px-3 py-2">
            <div class="row">
                <div class="col-xs-12 col-sm-3 d-flex flex-column justify-content-center">
                    <h5 class="mb-0">
                        {{ meeting["name"] }}
                    </h5>
                    <p class="mb-0">
                        {{ meeting["date"] }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-7 d-flex flex-column justify-content-center">
                    <p class="mb-0" id="attendees-{{meeting["id"]}}">
                        {% for name in meeting["attendees"] %}
                        {{ name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-2 text-center d-flex flex-column justify-content-center">
                    <button type="button" class="btn" data-module="cmReview" data-modal="reviewMeeting" data-cid="{{meeting["id"]}}" data-meeting="cm">
                        <i class="bi bi-eye attend-edit-icon"></i>
                        Review
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if pending_ts | length != 0 and current_page == 1 %}
    <h3 class="page-title">Pending Seminars</h3>
    <div class="list-group">
        {% for seminar in pending_ts %}
        <div class="list-group-item container-fluid px-3 py-2">
            <div class="row">
                <div class="col-xs-12 col-sm-3 d-flex flex-column justify-content-center">
                    <h5 class="mb-0">
                        {{ seminar["name"] }}
                    </h5>
                    <p class="mb-0">
                        {{ seminar["date"] }}
                    </p>
                </div>
                <div class="com-xs-12 col-sm-7 d-flex flex-column justify-content-center">
                    <p class="my-1" id="hosts-{{seminar["id"]}}">
                        Host: 
                        {% for name in seminar["hosts"] %}
                        {{ name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p class="my-1" id="attendees-{{seminar["id"]}}">
                        Attendees: 
                        {% for name in seminar["attendees"] %}
                        {{ name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-2 d-flex flex-column justify-content-center text-center">
                    <button type="button" class="btn" data-module="cmReview" data-modal="reviewMeeting" data-cid="{{seminar["id"]}}" data-meeting="ts">
                        <i class="bi bi-eye attend-edit-icon"></i>
                        Review
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <h3 class="page-title">Attendance History</h3>
    <div class="list-group">
        {% for meeting in history %}
        <div class="list-group-item container-flluid px-3 py-2">
            <div class="row">
                <div class="col-xs-12 col-sm-3 d-flex flex-column justify-content-center">
                    <h5 class="mb-0">
                        {{ meeting["name"] }}
                    </h5>
                    <p class="mb-0">
                        {{ meeting["date"] }}
                    </p>
                </div>
                <div class="com-xs-12 col-sm-7 d-flex flex-column justify-content-center">
                    {% if meeting["type"] == "ts" %}
                    <p class="my-1" id="hosts-{{meeting["id"]}}">
                        Host: 
                        {% for name in meeting["hosts"] %}
                        {{ name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    {% endif %}
                    <p class="my-1" id="attendees-{{meeting["id"]}}">
                        Attendees: 
                        {% for name in meeting["attendees"] %}
                        {{ name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-2 d-flex flex-column justify-content-center text-center">
                    <button type="button" class="btn" data-module="cmReview" data-modal="editMeeting" data-cid="{{meeting["id"]}}" data-meeting="{{meeting["type"]}}">
                        <i class="bi bi-pencil-square attend-edit-icon"></i>
                        Edit
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <nav class="py-4 d-flex justify-content-between" aria-label="Page navigation">
        <div style="flex: 1 0 0;"></div>
	<ul class="pagination justify-content-center">
            <li class="page-item {% if current_page == 1 %} disabled {% endif %}">
                <a class="page-link" href="?page={{ current_page - 1 }}&size={{ page_size['value'] }}" aria-label="Previous"
                    {% if current_page == 1 %}
                    tab-index="-1"
                    {% endif %}>

	            &laquo;
                </a>
	    </li>

	    {% for number in range(1, num_pages+1) %}
            <li class="page-item {% if number == current_page %} active {% endif %}">
                <a class="page-link" href="?page={{ number }}&size={{ page_size['value'] }}"
                    {% if current_page == 1 %}
                    tab-index="-1"
                    {% endif %}>

                    {{ number }}
                </a>
            </li>
            {% endfor %}

            <li class="page-item {% if current_page == num_pages %} disabled {% endif %}">
                <a class="page-link" href="?page={{ current_page + 1 }}&size={{ page_size['value'] }}" aria-label="Previous"
                    {% if current_page == num_pages %}
                    tab-index="-1"
                    {% endif %}>

	            &raquo;
                </a>
	    </li>
	</ul>
        <div style="flex: 1 0 0;">
            <div class="dropdown float-end">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Page Size: {{ page_size['label'] }}
                </button>
                <ul class="dropdown-menu">
                    {% for page_size_option in page_sizes %}
                        <li>
                            <a class="dropdown-item" href="?page=1&size={{ page_size_option['value'] }}"
                            {% if page_size_option['value'] == page_size['value'] %}
                                active
                            {% endif %}
                            >{{ page_size_option['label'] }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="modal fade" id="editMeeting" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editMeetingTitle">Edit Meeting</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <!-- Host -->
                    <div class="mb-4 host-edit-row">
                        <label for="host" class="form-label" id="hostLabel">Host(s)</label>
                        <select name="host" class="form-select" multiple><select/>
                    </div>
                    <!-- Attendees -->
                    <div class="mb-4">
                        <label for="attendees" class="form-label" id="attendeeLabel">Attendees</label>
                        <select name="attendees" class="form-select" multiple><select/>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger float-start">Delete</button>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="reviewMeeting" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editMeetingTitle">Review Submission</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <!-- Host -->
                    <div class="form-group mb-4 host-edit-row">
                        <label for="host" class="form-label" id="hostLabel">Host(s)</label>
                        <select name="host" class="form-select" multiple><select/>
                    </div>
                    <!-- Attendees -->
                    <div class="form-group mb-4">
                        <label for="attendees" class="form-label" id="attendeeLabel">Attendees</label>
                        <select name="attendees" class="form-select" multiple><select/>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger float-start">Delete</button>
                    <input type="submit" class="btn btn-success" value="Approve">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
