{% extends "nav.html" %}
{% block body %}
<div class="container main">
    <h3>House Meeting Attendance</h3>
    <div style="padding-top:20px"></div>
    <form data-module="hmForm">
        <!-- Date -->
        <div class="panel panel-default">
            <div class="panel-body" style="padding-top:10px;">
                <div class="form-group is-empty">
                    <label for="date" class=" control-label">Date</label>
                    <input type="text" name="date" class="form-control" value="{{ date }}" data-module="datepicker" />
                </div>
            </div>
        </div>
        <!-- Attendees -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Attendees</h3>
            </div>
            <div class="panel-body table-fill">
                <div class="hm-search">
                    <input class="form-control" type="text" placeholder="Quick Select" data-module="hmSearch" data-target="table.hm-attendance">
                </div>
                <div class="table-responsive">
                    <table class="table table-striped no-bottom-margin hm-attendance" data-module="table" data-sort-column="0" data-sort-order="asc" data-paginated="false">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Present</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for m in members %}
                            <tr>
                                <td>
                                    <img class="table_img mobile-hide" src="https://profiles.csh.rit.edu/image/{{m['value']}}"> {{m['display']}}
                                </td>
                                <td>
                                    <input type="checkbox" name="{{ m['value'] }}" autocomplete="off">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <input type="submit" role="button" class="btn btn-raised btn-primary" style="width:100%;" value="Submit Form"/>
    </form>
</div>
{% endblock %}
