{% extends "base_protected.html" %}
{% block title %}
House Meeting Attendance
{% endblock %}
{% block body %}
<div class="container main mt-4">
    <h3 class="page-title">House Meeting Attendance</h3>
    <div style="padding-top:20px"></div>
    <form data-module="hmForm">
        <!-- Date -->
        <div class="form-group mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="text" name="date" class="form-control" value="{{date}}" data-module="datepicker"/>
        </div>
        <!-- Attendees -->
        <div class="form-group mb-4">
            <label for="hm-search" class="form-label">Attendees</label>
            <input class="form-control" name="hm-search" type="text" placeholder="Search..." data-module="hmSearch" data-target="table.hm-attendance">
        </div>

        <div class="table-responsive hm-attendance-table">
            <table class="table table-striped hm-attendance" data-module="table" data-order="[[ 0, &quot;asc&quot; ]]"  data-paging="false">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Present</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in members %}
                    <tr>
                        <td>
                            <img class="aspect aspect11 rounded-circle me-2" width="40" src="https://profiles.csh.rit.edu/image/{{m['value']}}"> {{m['label']}}
                        </td>
                        <td>
                            <input type="checkbox" name="{{ m['value'] }}" autocomplete="off">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <input type="submit" role="button" class="btn btn-raised btn-primary mt-4 w-100" value="Submit Form"/>
    </form>
</div>
{% endblock %}
