{% extends "nav.html" %}

{% block body %}
<div class="container main">
    <h3>Committee Attendance</h3>
    <div style="padding-top:20px"></div>
    <form name="cmAttendanceForm" id="cmAttendanceForm">
        <!-- Meeting Type -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body" style="padding-top:10px;">
                        <div class="form-group">
                            <label for="position" class="control-label">Meeting Type</label>
                            <select id="position" name="position" class="form-control">
                                <option value="Chairman">Chairman</option>
                                <option value="Evaluations">Evaluations</option>
                                <option value="Financial">Financial</option>
                                <option value="R&D">Research and Development</option>
                                <option value="House Improvements">House Improvements</option>
                                <option value="Opcomm">OpComm</option>
                                <option value="History">History</option>
                                <option value="Social">Social</option>
                            </select>
                            <span class="material-input"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Date -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body" style="padding-top:10px;">
                        <div class="form-group is-empty">
                            <label for="date" class=" control-label">Date</label>
                            <input type="text" name="date" class="form-control" id="date" value="{{date}}" data-module="datepicker"/>
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Attendees -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body" style="padding-top:20px;">
                        <div class="form-group is-empty">
                            <label for="attendees" class=" control-label" id="attendeeLabel">Attendees</label>
                            <input type="text" name="attendees" class="form-control" id="attendees"/>
                            <span class="material-input"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <button role="button" class="btn btn-raised btn-primary" style="width:100%;" id="submit">
                    Submit Form
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
