{% extends "base.html" %}
{% block title %}
Directorship Meeting Attendance
{% endblock %}
{% block body %}
<div class="container main mt-4">
    <h3 class="page-title">Directorship Meeting Attendance</h3>
    <form data-module="attendanceForm" data-type="committee">
        <!-- Meeting Type -->
        <div class="form-group mb-3">
            <label for="committee" class="form-label">Meeting Type</label>
            <select name="committee" class="form-control">
                <option value="Chairman">Chairman</option>
                <option value="Ad-Hoc">Ad-Hoc</option>
                <option value="Evaluations">Evaluations</option>
                <option value="Financial">Financial</option>
                <option value="R&D">Research and Development</option>
                <option value="House Improvements">House Improvements</option>
                <option value="Opcomm">OpComm</option>
                <option value="History">History</option>
                <option value="Social">Social</option>
                <option value="Public Relations">Public Relations</option>
            </select>
        </div>
        <!-- Date -->
        <div class="form-group mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="text" name="date" class="form-control" value="{{date}}" data-module="datepicker"/>
        </div>
        <!-- Attendees -->
        <div class="form-group mb-4">
            <label for="attendees" class="form-label" id="attendeeLabel">Attendees</label>
            <select name="attendees" class="form-select" data-module="memberSelect" data-src="cm_members" multiple><select/>
        </div>

        <input type="submit" role="button" class="btn btn-raised btn-primary" style="width:100%;" value="Submit Form"/>
    </form>
</div>
{% endblock %}
