<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

        <script src="https://assets.csh.rit.edu/csh-material-bootstrap/5.3.8/dist/js/color-modes.js"></script>
        <link rel="shortcut icon" href="https://assets.csh.rit.edu/uploads/favicon.ico" type="image/x-icon">
        <link href="/static/css/app.css" rel="stylesheet">
        {% block extraHeader %}
        {% endblock %}

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        {% block nav %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        <footer>
            <a class="footer-version" href="https://github.com/ComputerScienceHouse/conditional/tree/v{{config["VERSION"]}}">Conditional (v{{config["VERSION"]}})</a>
        </footer>
        <script src="/static/js/app.js"></script>
    </body>
</html>
