<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <link rel="icon" href="">
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/members-flat.min.css" rel="stylesheet">
        <link href="../static/css/alertify.bootstrap.css" rel="stylesheet">
        <link href="../static/css/alertify.core.css" rel="stylesheet">
        <link href="../static/css/alertify.default.css" rel="stylesheet">
        <link href="../static/css/evals.css" rel="stylesheet">
        
        <title>{% block title %}{% endblock %}</title>
    </head>
    
    <body>
    
        {% block nav %}
        {% endblock %}
        {% block body %}
        {% endblock %}


        <script src="../static/js/libraries/jquery.min.js"></script>
        <script src="../static/js/libraries/bootstrap.min.js"></script>
        <script src="../static/js/libraries/angular.min.js"></script>
        <script src="../static/js/plugins/salvattore.min.js"></script>
        <script src="../static/js/plugins/alertify.js"></script>
        <script src="../static/js/plugins/dirPagination.js"></script>
        <script src="../static/js/app.js"></script>    

    </body>
</html>
