{% extends "nav.html" %}
{% block title %}
Conditionals
{% endblock %}
{% block extraFooter %}
<script src="../static/js/conditional.js"></script>
{% endblock %}
{% block body %}
<div class="container main">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Conditionals</h3>
        </div>
        <div class="panel-body table-fill">
            <div class="table-responsive">
                {% if conditionals_len == 0 %}
                <div class="alert alert-info" style="margin:15px;">No conditionals.</div>
                {% else %}
                <table class="table table-striped no-bottom-margin">
                    <tbody id="conditionals">
                        <tr>
                            <th>Name</th>
                            <th>Date Created</th>
                            <th>Date Due</th>
                            <th>Description</th>
                            {% if is_eval_director %}
                            <th>Controls</th>
                            {% endif %}
                        </tr>
                        <!-- ng-repeat="conditional in conditionals.data"-->
                        {% for c in conditionals %}
                        <tr id="conditional-{{c['id']}}" conditional_id="{{c['id']}}">
                            <td>{{c['name']}}</td> <!-- If showing all users -->
                            <td>{{c['date_created']}}</td>
                            <td>{{c['date_due']}}</td>
                            <td>{{c['description']}}</td>
                            {% if is_eval_director %}
                            <th>
                                    <button role="button" class="btn btn-raised btn-primary btn-success" style="width:100%;" id="pass-{{c['id']}}">
                                        Pass
                                    </button>
                                    <button role="button" class="btn btn-raised btn-primary btn-danger" style="width:100%;" id="fail-{{c['id']}}">
                                        Fail
                                    </button>

                            </th>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
    <div >
    </div>
        {% endblock %}
