{% extends "nav.html" %}
{% block body %}
<div class="container main">
    <div class="panel panel-default" style="margin-left:15px; margin-right:15px;">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12 vcenter">
                    <img class="thumbnail profile-image" src="https://profiles.csh.rit.edu/image/{{username}}">
                </div><!--
                --><div class="col-xs-12 col-sm-9 col-md-9 vcenter" style="padding-bottom:10px">


                    <h1 class="username">{{name}}</h1>
                    <h4 class="username" style="padding-bottom:6px">{{username}}@csh.rit.edu</h4>
                    <div class="profile-badges">
                        {% if active %}
                        <span class="label label-success">Active</span>
                        {% else %}
                        <span class="label label-danger">Inactive</span>
                        {% endif %}

                        {% if onfloor %}
                        <span class="label label-primary">On-floor</span>
                        {% else %}
                        <span class="label label-default">Off-floor</span>
                        {% endif %}

                        {% if voting %}
                        <span class="label label-primary">Voting</span>
                        {% else %}
                        <span class="label label-default">Non-Voting</span>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div id="grid" data-columns>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Housing Status</h3>
            </div>
            <div class="panel-body table-fill">
                {% if housing != False %}
                <table class="table table-striped table-responsive no-bottom-margin">
                    <tbody>
                        <tr>
                            <th>Housing Points</th>
                            <td>{{housing['points']}}</td>
                        </tr>
                        <tr>
                            <th>Room Number</th>
                            <td>{{housing['room']}}</td>
                        </tr>
                        <tr>
                            <th>Housing Queue Position</th>
                            <td>{{housing['queue_pos']}} / {{housing['queue_len']}}</td>
                        </tr>
                    </tbody>
                </table>
                {% else %}
                You do not currently have onfloor status!
                {% endif %}
            </div>
        </div>


        {% if freshman != False %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Freshman Evaluations
                    {% if freshman['status'] == "Passed" %}
                    <span class="pull-right"><span class="glyphicon glyphicon-ok-sign white"></span> Passed</span>
                    {% elif freshman['status'] == "Pending" %}
                    <span class="pull-right"><span class="glyphicon glyphicon-hourglass white"></span> Pending</span>
                    {% else %}
                    <span class="pull-right"><span class="glyphicon glyphicon-remove-sign white"></span> Failed</span>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body table-fill">
                <table class="table table-striped table-responsive">
                    <tbody>
                        <tr>
                            <th>Evaluations Date</th>
                            <td>{{freshman['eval_date']}}</td>
                        </tr>
                        <tr>
                            <th>Signatures Missed</th>
                            <td>
                                {% if freshman['sig_missed'] == 0 %}
                                <span class="glyphicon glyphicon-ok-sign green"></span>
                                {% else %}
                                <span class="glyphicon glyphicon-remove-sign red"></span> {{freshman['sig_missed']}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Committee Meetings</th>
                            <td>
                                {% if freshman['committee_meetings'] >= 10 %}
                                <span class="glyphicon glyphicon-ok-sign green"></span>
                                {% else %}
                                <span class="glyphicon glyphicon-remove-sign red"></span>
                                {% endif %}
                                {{freshman['committee_meetings']}} / 10
                            </td>
                        </tr>
                        <tr>
                            <th>House Meetings Missed</th>
                            <td>
                                {% if freshman['hm_missed'] == 0 %}
                                <span class="glyphicon glyphicon-ok-sign green"></span>
                                {% else %}
                                <span class="glyphicon glyphicon-remove-sign red"></span> {{ freshman['hm_missed'] }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Technical Seminars</th>
                            <td>
                                {% if freshman['ts_total'] >= 2 %}
                                <span class="glyphicon glyphicon-ok-sign green"></span>
                                {% else %}
                                <span class="glyphicon glyphicon-remove-sign red"></span>
                                {% endif %}
                                {% if freshman['ts_total'] == 0 %}
                                <div class="panel-body">
                                    <div class="alert alert-warning" role="alert">You have not attended any technical seminars.</div>
                                </div>
                                {% else %}
                                <div class="panel-body table-fill" id="attendance-widget-body">
                                    <ul>
                                        {% for ts in freshman['ts_list'] %}
                                        <li>{{ts}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Social Events</th>
                            <td>
                                {{freshman['social_events']}}
                            </td>
                        </tr>
                        <tr>
                            <th>Freshman Project</th>
                            <td>
                                {% if freshman['fresh_proj'] == "Passed" %}
                                <span class="pull-right"><span class="glyphicon glyphicon-ok-sign green"></span> Passed</span>
                                {% elif freshman['fresh_proj'] == "Pending" %}
                                <span class="pull-right"><span class="glyphicon glyphicon-hourglass yellow"></span> Pending</span>
                                {% else %}
                                <span class="pull-right"><span class="glyphicon glyphicon-remove-sign white"></span> Failed</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>General Comments</th>
                            <td>
                                {{freshman['general_comments']}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        <div class="panel panel-default" ng-hide="evaluations.isFreshmanEvals">
            <div class="panel-heading">
                <h3 class="panel-title">Spring Evaluations
                    {% if spring['status'] == "Passed" %}
                    <span class="pull-right"><span class="glyphicon glyphicon-ok-sign green"></span> Passed</span>
                    {% elif spring['status'] == "Failed" %}
                    <span class="pull-right"><span class="glyphicon glyphicon-remove-sign white"></span> Failed</span>
                    {% else %}
                    <span class="pull-right"><span class="glyphicon glyphicon-hourglass yellow"></span> Pending</span>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body table-fill">
                <table class="table table-striped table-responsive no-bottom-margin">
                    <tbody>
                        <tr>
                            <th>Committee Meetings</th>
                            <td>
                                {% if spring['committee_meetings'] >= 25 %}
                                <span class="glyphicon glyphicon-ok-sign green"></span>
                                {% else %}
                                <span class="glyphicon glyphicon-remove-sign red"></span>
                                {% endif %}
                                {{ spring['committee_meetings'] }} / 25
                            </td>
                        </tr>
                        <tr>
                            <th>House Meetings Missed</th>
                            <td>
                                {% if spring['hm_missed'] == 0 %}
                                <span class="glyphicon glyphicon-ok-sign green"></span>
                                {% else %}
                                <span><span class="glyphicon glyphicon-remove-sign red"></span> {{spring['hm_missed']}}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Major Project</th>
                            <td>
                                {% if spring['mp_status'] == "Passed" %}
                                <span class="glyphicon glyphicon-ok-sign green"></span>
                                {% elif spring['mp_status'] == "Pending" %}
                                <span class="glyphicon glyphicon-hourglass yellow"></span>
                                {% else %}
                                <span class="glyphicon glyphicon-remove-sign red"></span>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        {% if conditionals_len != 0 %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Conditionals</h3>
            </div>
            <div class="panel-body table-fill">
                <div class="table-responsive">
                    <table class="table table-striped no-bottom-margin">
                        <tbody>
                            <tr>
                                <th>Date Assigned</th>
                                <th>Date Due</th>
                                <th>Description</th>
                                <th>Status</th>
                            </tr>
                            {% for c in conditionals %}
                            <tr>
                                <td>{{c['date_created']}}</td>
                                <td>{{c['date_due']}}</td>
                                <td>{{c['description']}}</td>
                                <td>
                                    {% if c['status'] == "Passed" %}
                                    <span style="padding-left:15px; padding-top:15px;" class="glyphicon glyphicon-ok-sign green"></span>
                                    {% elif c['status'] == "Pending" %}
                                    <span class="glyphicon glyphicon-hourglass yellow"></span> <span class="mobile-hide">Pending</span>
                                    {% else %}
                                    <span class="glyphicon glyphicon-minus-sign red"></span> <span class="mobile-hide">Failed</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        {% endif %}

        <div >
            <!-- If showing all major projects - show this code 

                <div class="panel-heading">
                <h3 class="panel-title">Major Projects</h3>
                </div>

            -->
            <div>
                {% if major_projects_count == 0 %}
                <div class="alert alert-warning" role="alert">You have no major projects.</div>
                {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Major Projects</h3>
                    </div>
                    <table>
                    {% for p in major_projects %}
                    <tr>
                        {% if p['status'] == "Passed" %}
                        <span><span style="padding-left:15px; padding-top:15px;" class="glyphicon glyphicon-ok-sign green"></span>  <strong>{{p['name']}}</strong></span>
                        {% elif p['status'] == "Pending" %}
                        <span><span style="padding-left:15px; padding-top:15px;" class="glyphicon glyphicon-hourglass yellow"></span>  <strong>{{p['name']}}</strong></span>
                        {% else %}
                        <span><span style="padding-left:15px; padding-top:15px;" class="glyphicon glyphicon-minus-sign red"></span>  <strong>{{p['name']}}</strong></span>
                        {% endif %}
                        <div class="panel-body" style="word-wrap:break-word">{{p['description']}}</div>
                    </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
        </div>

            {% if hm_attendance_len == 0 %}
            <div class="panel panel-default">
                <div class="alert alert-success" style="margin-bottom:0px">
                    <span class="glyphicon glyphicon-ok-sign white" style="padding-right:5px"> </span> 
                    You haven't missed any house meetings.
                </div>
            {% else %}
            <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Missed House Meetings</h3>
            </div>
            <div class="panel-body table-fill" id="attendance-widget-body">
                <table class="table table-striped table-responsive no-bottom-margin">
                    <tbody>
                        <tr>
                            <th>Date</th>
                            <th>Reason</th>
                        </tr>
                        {% for a in hm_attendance %}
                        <tr>
                            <td>{{a['datetime']}}</td>
                            <td>{{a['reason']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Committee Meeting Attendance</h3>
            </div>
            {% if cm_attendance_len == 0 %}
            <div class="panel-body">
                <div class="alert alert-warning" role="alert">You have not attended any events.</div>
            </div>
            {% else %}
            <div class="panel-body table-fill" id="attendance-widget-body">
                <table class="table table-striped table-responsive no-bottom-margin">
                    <tbody>
                        <tr>
                            <th>Event</th>
                            <th>Date</th>
                        </tr>
                        {% for a in cm_attendance %}
                        <tr>
                            <td>{{a['type']}}</td>
                            <td>{{a['datetime']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <dir-pagination-controls class="panel-inner-padding"></dir-pagination-controls>
            </div>
            {% endif %}
        </div>


</div>
{% endblock %}
