{% extends "nav_protected.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block body %}
<div class="container main mt-4">
    <div class="card mb-4">
        <div class="card-body dashboard-user">
            <div class="row">
                <div class="col-lg-2 col-sm-3 col-xs-12 profile-container">
                    <img class="object-fit-contain rounded-circle w-100 h-100" src="https://profiles.csh.rit.edu/image/{{username}}">
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9 d-flex flex-column justify-content-center">
                    <h3 class="username">{{ get_member_name(username) }}</h3>
                    <h5 class="email">{{username}}@csh.rit.edu</h5>
                    <div class="profile-badges">
                        {% if active %}
                        <span class="badge text-bg-success">Active</span> 
                        {% else %}
                        <span class="badge text-bg-danger">Inactive</span> 
                        {% endif %} 
                        
                        {% if onfloor %}
                        <span class="badge text-bg-primary">On-floor Status</span> 
                        {% else %}
                        <span class="badge text-bg-warning">Off-floor Status</span> 
                        {% endif %} 
                        
                        {% if voting %}
                        <span class="badge text-bg-primary">Voting</span> 
                        {% else %}
                        <span class="badge text-bg-warning">Non-Voting</span> 
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-masonry='{"percentPosition": true }'>
        {% if accepting_dues and check_current_student(username) and not active and not bad_standing %}
        <div class="col-12 col-md-6 mb-4">
            <div class="card" id="becomeActive">
                <div class="card-header">
                    <h3 class="panel-title">Become Active</h3>
                </div>
                <div class="card-body">
                    Hey there, you're eligible to become an active member! Click the button below if you'd like to become active and pay dues.
                </div>
                <div class="card-footer text-right">
                    <a href="#" data-module="becomeActive" class="btn btn-sm btn-primary">Become Active</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if intro %}
        <div class="col-12 col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title d-flex my-0">Introduction Evaluations
                        {% if intro['status'] == "Passed" %}
                        <span class="ms-auto">
                            <i class="bi bi-check-circle-fill green"></i> Passed
                        </span>
                        {% elif intro['status'] == "Pending" %}
                        <span class="ms-auto">
                            <i class="bi bi-hourglass-split yellow"></i> Pending
                        </span>
                        {% else %}
                        <span class="ms-auto">
                            <i class="bi bi-x-circle-fill red"></i> Failed
                        </span>
                        {% endif %}
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex">
                        <div class="col">
                            Evaluations Date
                        </div>
                        <div class="col text-end">
                            {{ intro['eval_date'] }}
                        </div>
                    </li>
                    <li class="list-group-item d-flex">
                        <div class="col">
                            Signatures Missed
                        </div>
                        <div class="col text-end">
                            {% if intro['sig_missed'] == 0 %}
                            <i class="bi bi-check-circle-fill green"></i>
                            None
                            {% else %}
                            <i class="bi bi-x-circle-fill red"></i> 
                            {{ intro['sig_missed'] }} 
                            {% endif %} 
                        </div>
                    </li>
                    <li class="list-group-item d-flex">
                        <div class="col">
                            Directorship Meetings
                        </div>
                        <div class="col text-end">
                            {% if intro['committee_meetings'] >= 6 %}
                            <i class="bi bi-check-circle-fill green"></i> 
                            {% else %}
                            <i class="bi bi-x-circle-fill red"></i> 
                            {% endif %} 
                            {{ intro['committee_meetings'] }} / 6
                        </div>
                    </li>
                    <li class="list-group-item d-flex">
                        <div class="col">
                            House Meetings Missed
                        </div>
                        <div class="col text-end">
                            {% if intro['hm_missed'] ==0 %}
                            <i class="bi bi-check-circle-fill green"></i> 
                            None
                            {% else %}
                            <i class="bi bi-x-circle-fill red"></i> 
                            {{ intro['hm_missed'] }}
                            {% endif %} 
                        </div>
                    </li>
                    <li class="list-group-item">
                        {% if intro['ts_total']== 0 %}
                        <div class="alert alert-warning my-0" role="alert">
                            <i class="bi bi-exclamation-circle text-warning me-2"></i>
                            You have not attended any technical seminars.</div>
                        {% else %}
                        <p class="mb-1">Technical Seminars</p>
                        <ul>
                            {% for ts in intro['ts_list'] %}
                            <li>{{ ts }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}

        {% if spring['status'] != None %}
        <div class="col-12 col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title d-flex my-0">Membership Evaluations
                        {% if spring['status'] == "Passed" %}
                        <span class="ms-auto">
                            <i class="bi bi-check-circle-fill green"></i> Passed
                        </span>
                        {% elif spring['status'] == "Failed" %}
                        <span class="ms-auto">
                            <i class="bi bi-x-circle-fill red"></i> Failed
                        </span>
                        {% elif active %}
                        <span class="ms-auto">
                            <i class="bi bi-hourglass-split yellow"></i> Pending
                        </span>
                        {% endif %}
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% if ts_total == 0 %}
                    <li class="list-group-item">
                        <div class="alert alert-warning my-0" role="alert">
                            <i class="bi bi-exclamation-circle text-warning me-2"></i>
                            You have not attended any technical seminars.
                        </div>
                    </li>
                    {% else %}
                    <li class="list-group-item">
                        <p class="mb-1">Technical Seminars</p>
                        <ul>
                            {% for ts in ts_list %}
                            <li>{{ ts }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    <li class="list-group-item d-flex">
                        <div class="col">
                            Directorship Meetings
                        </div>
                        <div class="col text-end">
                            {% if spring['committee_meetings'] >= spring['req_meetings'] %}
                            <i class="bi bi-check-circle-fill green"></i> 
                            {% else %}
                            <i class="bi bi-x-circle-fill red"></i> 
                            {% endif %} 
                            {{ spring['committee_meetings'] }} / {{ spring['req_meetings'] }}
                        </div>
                    </li>
                    <li class="list-group-item d-flex">
                        <div class="col">
                            House Meetings Missed
                        </div>
                        <div class="col text-end">
                            {% if spring['hm_missed'] ==0 %}
                            <i class="bi bi-check-circle-fill green"></i> 
                            None
                            {% else %}
                            <i class="bi bi-x-circle-fill red"></i> 
                            {{ spring['hm_missed'] }}
                            {% endif %} 
                        </div>
                    </li>
                    <li class="list-group-item d-flex">
                        <div class="col">
                            Major Project
                        </div>
                        <div class="col text-end">
                            {% if spring['mp_status'] == 'Passed' %}
                            <i class="bi bi-check-circle-fill green"></i> 
                            Passed
                            {% elif spring['mp_status'] == 'Pending' %}
                            <i class="bi bi-hourglass-split yellow"></i>
                            Pending
                            {% else %}
                            <i class="bi bi-x-circle-fill red"></i>
                            None
                            {% endif %} 
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}

        {% if conditionals_len != 0 %}
        <div class="col-12 col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title my-0">Conditionals</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex">
                        <div class="col">Date Assigned</div>
                        <div class="col">Date Due</div>
                        <div class="col">Description</div>
                        <div class="col">Status</div>
                    </li>
                    {% for c in conditionals %}
                    <li class="list-group-item d-flex">
                        <div class="col">{{ c['date_created'] }}</div>
                        <div class="col">{{ c['date_due'] }}</div>
                        <div class="col">{{ c['description'] }}</div>
                        <div class="col">
                            {% if c['status'] == 'Passed' %}
                            <i class="bi bi-check-circle-fill green"></i>
                            {% elif c['status'] == 'Pending' %}
                            <i class="bi bi-hourglass-split yellow"></i>
                            <span>Pending</span>
                            {% else %}
                            <i class="bi bi-x-circle-fill red"></i>
                            <span>Failed</span>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if active %}
        <div class="col-12 col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title d-flex my-0">
                        Gatekeep
                        {% if gatekeep['status'] == "passing" %}
                        <span class="ms-auto">
                            <i class="bi bi-check-circle-fill green"></i> Ok! 
                        </span>
                        {% elif gatekeep['status'] == "disenfranchised" and gatekeep_active%}
                        <span class="ms-auto">
                            <i class="bi bi-x-circle-fill red"></i> Disenfranchised
                        </span>
                        {% elif active %}
                        <span class="ms-auto">
                            <i class="bi bi-hourglass-split yellow"></i> Pending
                        </span>
                        {% endif %}
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% if not gatekeep_active %}
                    <li class="list-group-item d-flex">
                        <div class="col">
                            Status
                        </div>
                        <div class="col text-end">
                            Gatekeep Inactive Until 6 Weeks
                        </div>
                    </li>
                    {% endif %}
                    <li class="list-group-item d-flex">
                        <div class="col">
                            Technical Seminars
                        </div>
                        <div class="col text-end">
                            {% if gatekeep['technical_seminars'] >= 2 %}
                            <i class="bi bi-check-circle-fill green"></i>
                            {% else %}
                            <i class="bi bi-x-circle-fill red"></i>
                            {% endif %}
                            {{ gatekeep['technical_seminars'] }} / 2
                        </div>
                    </li>
                    <li class="list-group-item d-flex">
                        <div class="col">
                            Directorship Meetings
                        </div>
                        <div class="col text-end">
                            {% if gatekeep['committee_meetings'] >= 6 %}
                            <i class="bi bi-check-circle-fill green"></i>
                            {% else %}
                            <i class="bi bi-x-circle-fill red"></i>
                            {% endif %}
                            {{ gatekeep['committee_meetings'] }} / 6
                        </div>
                    </li>
                    <li class="list-group-item d-flex">
                        <div class="col">
                            House Meetings Missed
                        </div>
                        <div class="col text-end">
                            {% if gatekeep['hm_missed'] == 0 %}
                            <i class="bi bi-check-circle-fill green"></i> None
                            {% elif gatekeep['hm_missed'] <= 1 %}
                            <i class="bi bi-check-circle-fill green"></i> {{ gatekeep['hm_missed'] }}
                            {% else %}
                            <i class="bi bi-x-circle-fill red"></i> {{ gatekeep['hm_missed'] }}
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}

        {% if major_projects_count == 0 %}
        <div class="col-12 col-md-6 mb-4">
            <div class="alert alert-warning" role="alert">
                <i class="bi bi-exclamation-circle text-warning me-2"></i>
                You have no major projects.
            </div>
        </div>
        {% elif major_projects_count > 0 %}
        <div class="col-12 col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Major Projects</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for p in major_projects %}
                    <li class="list-group-item">
                        <div class="title d-flex mb-2">
                            <h5 class="my-1">
                                {% if p['status'] == "Passed" %}
                                <i class="bi bi-check-circle-fill green"></i>
                                {% elif p['status'] == "Pending" %}
                                <i class="bi bi-hourglass-split yellow"></i>
                                {% else %}
                                <i class="bi bi-dash-circle red"></i>
                                {% endif %}
                                <span class="ms-1">
                                    {{ p['name'] }}
                                </span>
                            </h5>

                            {% if p['status'] == 'Pending' %}
                            <button class="btn btn-sm btn-danger ms-auto" data-module="majorProjectStatus" data-id="{{p['id']}}">
                                <i class="bi bi-trash3"></i>
                                Delete
                            </button>
                            {% endif %}
                        </div>
                        <div class="col">
                            <h6 class="mb-0">TLDR</h6> 
                            
                            <p>
                                {{ p['tldr'] }}
                            </p>
                        </div>
                        
                        <div class="row">
                            <div class="col-4">
                                <h6 class="mb-0">Time Spent</h6>
                                
                                <p>
                                    {{ p['time_spent'] }}
                                </p>
                            </div>
                            
                            <div class="col">
                                <h6 class="mb-0">Skills Applied</h6>
                                
                                <div class="skill-group">
                                    {% for skill in p['skills'] %}
                                    <span class="badge text-bg-primary">
                                        {{ skill }}
                                    </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        
                        {% if p['links'] | length > 0 %}
                        <div class="col">
                            <h6 class="mb-1">Links</h6>
                            
                            {% for l in p['links'] %}
                            {% set href = l %}
                            {% if not href.startswith('http://') and not href.startswith('https://') %}
                            {% set href = 'https://' + href %}
                            {% endif %}
                            <p><a href="{{ href }}">{{ href }}</a></p>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="col">
                            <h6 class="mb-1">Description</h6>
                            
                            <p class="mb-1">
                                {{p['desc']}}
                            </p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if missed_hm_len == 0 and active %}
        <div class="col-12 col-md-6 mb-4">
            <div class="alert alert-success">
                <i class="bi bi-check-circlce white" style="padding-right:5px"> </i> You haven't missed any house meetings.
            </div>
        </div>
        {% elif missed_hm_len > 0 and active %}
        <div class="col-12 col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <!-- Yes I'm doing this for grammar -->
                    {% if missed_hm_len == 1 %}
                    <h5 class="card-title my-0">{{ missed_hm_len }} Missed House Meeting </h5>
                    {% else %}
                    <h5 class="card-title my-0">{{ missed_hm_len }} Missed House Meetings </h5>
                    {% endif %}
                </div>
                <ul class="list-group list-group-flush">
                    {% for hm in missed_hm %}
                    <li class="list-group-item d-flex">
                        {{ hm['datetime'] }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if cm_attendance_len == 0 and active%}
        <div class="col-12 col-md-6 mb-4">
            <div class="alert alert-warning">
                <i class="bi bi-exclamation-circle text-warning me-2"></i>
                You have not attended any directorship meetings.
            </div>
        </div>
        {% elif cm_attendance_len > 0 %}
        <div class="col-12 col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Directorship Meeting Attendance</h5>
                </div>
                <div class="card-body pt-0">
                    <table class="table table-striped" data-module="table" data-order="[[ 1, &quot;desc&quot ]]" data-length-change="false" data-searching="false">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for meeting in cm_attendance %}
                            <tr>
                                <td>
                                    {{ meeting['committee'] }}
                                </td>
                                <td data-sort="{{ meeting['timestamp'] }}">
                                    {{ meeting['timestamp'].strftime('%Y-%m-%d') }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

        {% if housing %}
        <div class="col-12 col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title my-0">Housing Status</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex fw-semibold">
                        <div class="col-8">Housing Points</div>
                        <div class="col-4 text-end">{{ housing['points'] }}</div>
                    </li>
                    {% if housing['room'] != None %}
                    <li class="list-group-item d-flex">
                        <div class="col-8">Room Number</div>
                        <div class="col-4 text-end"> {{ housing['room'] }}</div>
                    </li>
                    {% endif %}
                    {% if housing['queue_pos'][0] != None and housing['room'] == None %}
                    <li class="list-group-item d-flex">
                        <div class="col-8">Housing Queue Position</div>
                        <div class="col-4 text-end"> 
                            {{ housing['queue_pos'][0] }} / {{ housing['queue_pos'][1] }}
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}

        <div class="col-12 col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title my-0">Member Statistics</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex fw-semibold">
                        <div class="col-8"> Category</div>
                        <div class="col-4 text-end"> Members</div>
                    </li>
                    {% for title in voting_count %}
                    <li class="list-group-item d-flex">
                        <div class="col-8"> {{ title }}</div>
                        <div class="col-4 text-end"> {{ voting_count[title] }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
