{% extends "nav.html" %}
{% block extraHeader %}
<link href="../static/css/selectize.css" rel="stylesheet">
<link href="../static/css/selectize-bootstrap3.css" rel="stylesheet">
{% endblock %}
{% block extraFooter %}
<script src="../static/js/libraries/selectize.js"></script>
<script src="../static/js/attendance_ts.js"></script>
{% endblock %}
{% block body %}
<div class="container main">


    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Housing Queue</h3>
                </div>
                <div class="panel-body table-fill" >
                    <div class="table-responsive">
                        <table class="table table-striped no-bottom-margin">
                            <tbody>
                                <tr>
                                    <th>Member</th>
                                    <th>Housing Points</th>
                                </tr>
                                {% for m in queue %}
                                <tr>
                                    <td>{{m['name']}}</td>
                                    <td>{{m['points']}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Current Room Numbers</h3>
                </div>
                <div class="panel-body table-fill">
                    <div class="table-responsive">
                    <table class="table table-striped no-bottom-margin">
                        <tr>
                            <th>Room</th>
                            <th>Occupants</th>
                        </tr>
                        {% for room in room_list %}
                        <tr>
                            {% if room != "N/A" %}
                            <td><h3 style="padding-left:20px">{{room}}</h3></td>
                            <td>
                                    {% for m in housing[room] %}
                                    <p>{{m}}</p>
                                    {% endfor %}
                                </td>
                                {% endif %}
                                {% endfor %}

                    </table>
                </div>
                </div>
            </div>



        </div>
        {% endblock %}
