{% extends "nav.html" %}
{% block title %}
Housing
{% endblock %}
{% block body %}
<div class="container main">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-default"{% if is_eval_director %} data-module="housingQueue"{% endif %}>
                <div class="panel-heading">
                    <h3 class="panel-title">Housing Queue
                    {% if is_eval_director %}
                        <button id="queueFilterToggle" type="button" class="btn btn-primary btn-sm btn-conditional pull-right">
                            <span class="glyphicon glyphicon-filter"></span> Show Current Queue
                        </button>
                    {% endif %}
                    </h3>
                </div>
                <div class="panel-body table-fill">
                    <div class="table-responsive">
                        <table class="table table-striped no-bottom-margin" data-module="table" data-paginated="false" data-ordering="false"{% if is_eval_director %} data-searchable="true" data-show="all"{% endif %}>
                            <thead>
                                <tr>
                                    <th>Member</th>
                                    <th>Housing Points</th>
                                    {% if is_eval_director %}
                                    <th class="col-in-queue">In Queue?</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for m in queue %}
                                <tr{% if not m['in_queue'] %} class="disabled"{% endif %}>
                                    <td>{{m['name']}}</td>
                                    <td>{{m['points']}}</td>
                                    {% if is_eval_director %}
                                    <td class="col-in-queue"><input type="checkbox" data-uid="{{m['uid']}}"{% if m['in_queue'] %} checked="checked"{% endif %}></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Current Room Numbers
                    {% if is_eval_director %}
                        <button type="button" class="btn btn-primary btn-sm btn-conditional pull-right" data-module="housingEdit" data-modal="editHousing" data-rmnumber="">
                            <span class="glyphicon glyphicon-plus"></span> Add Room
                        </button>
                    {% endif %}
                    </h3>
                </div>
                <div class="panel-body table-fill">
                    <div class="table-responsive">
                        <table class="table table-striped no-bottom-margin">
                            <tr>
                                <th>Room</th>
                                <th>Occupants</th>
                                {% if is_eval_director %}
                                <th>Edit</th>
                                {% endif %}
                            </tr>
                            {% for room in room_list %}
                            <tr>
                                {% if room != "N/A" %}
                                <td>
                                    <h3 class="room-number">{{room}}</h3></td>
                                <td>
                                    <ul id="{{room}}" class="occupant-list">
                                        {% for m in housing[room] %}
                                        <li class="room-name">{{m}}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                {% if is_eval_director %}
                                <td>
                                    <button type="button" class="btn btn-default navbar-btn" data-module="housingEdit" data-modal="editHousing" data-rmnumber="{{room}}">
            		                <span class="glyphicon glyphicon-edit attend-edit-icon"></span> Edit
            		                </button>
                                </td>
                                {% endif %}
                                {% endif %} 
                                
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editHousing" tabindex="-1">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="editHousingTitle">Edit Room</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <div class="row user-edit-row">
                            <label class="control-label" for="rmnumber">Room Number</label>
                            <input type="text" name="rmnumber" class="form-control" />
                        </div>
                        <div class="row user-edit-row">
                            <label class="control-label" for="occupants">Occupants</label>
                            <input type="text" name="occupants" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
