{% extends "base_protected.html" %}
{% block title %}
Housing
{% endblock %}
{% block body %}
<div class="container main">
    <div class="row pt-4">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="card"{% if is_eval_director %} data-module="housingQueue"{% endif %}>
                <div class="card-header">
                    <h3 class="card-title mb-0">
                        Housing Queue
                        {% if is_eval_director %}
                        <button id="queueFilterToggle" type="button" class="btn btn-primary btn-sm float-end">
                            <i class="bi bi-filter"></i>
                            Show Current Queue
                        </button>
                        {% endif %}
                    </h3>
                </div>
                <div class="table-fill mb-2">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0" data-module="table" data-paging="false" 
                                data-ordering="false"{% if is_eval_director %} data-search="true" data-show="all"{% endif %}>
                            <thead>
                                <tr>
                                    <th>Member</th>
                                    <th>Housing Points</th>
                                    {% if is_eval_director %}
                                    <th class="col-in-queue">In Queue?</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for m in queue %}
                                <tr{% if not m['in_queue'] %} class="disabled"{% endif %}>
                                    <td>{{m['cn']}}</td>
                                    <td>{{m['housingPoints']}}</td>
                                    {% if is_eval_director %}
                                    <td>
                                        {% if m['in_queue'] %}
                                        <input type="checkbox" data-uid="{{m['uid']}}" checked>
                                        {% else %}
                                        <input type="checkbox" data-uid="{{m['uid']}}">
                                        {% endif %}
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title mb-1">
                        Current Room Numbers
                        {% if is_eval_director %}
                        <button type="button" class="btn btn-primary btn-sm float-end" data-module="housingEdit" data-modal="editHousing" data-rmnumber="">
                            <i class="bi bi-plus"></i>
                            Add Room
                        </button>
                        {% endif %}
                    </h3>
                </div>
                <div class="table-fill">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0" id="housing-table">
                            <thead>
                                <tr>
                                    <th class="text-center">Room</th>
                                    <th>Occupants</th>
                                    {% if is_eval_director %}
                                    <th class="text-center">Edit</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for room in room_list %}
                                <tr>
                                    {% if room != "N/A" %}
                                    <td class="align-middle">
                                        <h3 class="mb-0 text-center">{{room}}</h3>
                                    </td>
                                    <td class="ps-0">
                                        <div id="{{room}}">
                                            {% for m in housing[room] %}
                                            <div class="m-2">{{m}}</div>
                                            {% endfor %}
                                        </div>
                                    </td>
                                    {% if is_eval_director %}
                                    <td class="align-middle text-center">
                                        <button type="button" class="btn btn-default" data-module="housingEdit" data-modal="editHousing" data-rmnumber="{{room}}" id="rm-edit-btn">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                    </td>
                                    {% endif %}
                                    {% endif %} 
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editHousing" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editHousingTitle">Edit Room</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="rmnumber">Room Number</label>
                        <input type="text" name="rmnumber" class="form-control" />
                    </div>
                    <div class="">
                        <label class="form-label" for="occupants">Occupants</label>
                        <input type="text" name="occupants" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
