{% extends "nav.html" %}
{% block extraHeader %}
<link href="../static/css/selectize.css" rel="stylesheet">
<link href="../static/css/selectize-bootstrap3.css" rel="stylesheet">
<link href="../static/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block extraFooter %}
<script src="../static/js/libraries/selectize.js"></script>
<script src="../static/js/member_management.js"></script>
{% endblock %}
{% block body %}
<div class="container main">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Site Management</h3>
        </div>
        <div class="panel-body">
                 <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="material-switch" style="text-align:center;">
                                <div class="switch-label">Spring Form</div> 
                                <input
                                    type="checkbox"
                                    id="housing_form_checkbox"
                                    name="housing_form_checkbox"
                                    {% if housing_form_active %}
                                    checked
                                    {% endif %}
                                >
                                <label for="housing_form_checkbox" class="label-primary"></label>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="material-switch" style="text-align:center;">
                                <div class="switch-label">Site Lockdown</div> 
                                <input
                                    type="checkbox"
                                    id="site_lockdown_checkbox"
                                    name="site_lockdown_checkbox"
                                    {% if site_lockdown %}
                                    checked
                                    {% endif %}
                                >
                                <label for="site_lockdown_checkbox" class="label-primary"></label>
                            </div>
 
                        </div>

                    </div>
                </div>
                       <!--
            <div class="col-xs-12 col-md-4">
                <h3>Housing Form</h3>
                <div class="btn-group btn-group-justified btn-group-raised" data-toggle="buttons">
                    <label class="btn btn-success active">
                        <input type="radio" name="housing_form" autocomplete="off" value="1" {% if housing_form_active %} checked {% endif %}> Unlocked </label>
                    <label class="btn btn-danger">
                        <input type="radio" name="housing_form" autocomplete="off" value="0" {% if not housing_form_active %} checked {% endif %}> Locked </label>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <h3>Intro Evals Form</h3>
                <div class="btn-group btn-group-justified btn-group-raised" data-toggle="buttons">
                    <label class="btn btn-success active">
                        <input type="radio" name="intro_form" autocomplete="off" value="1" checked {% if intro_form_active %} checked {% endif %}> Unlocked </label>
                    <label class="btn btn-danger">
                        <input type="radio" name="intro_form" autocomplete="off" value="0" {% if not intro_form_active %} checked {% endif %}> Locked </label>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <h3>Site Lockdown</h3>
                <div class="btn-group btn-group-justified btn-group-raised" data-toggle="buttons">
                    <label class="btn btn-success active">
                        <input type="radio" name="site_lockdown" autocomplete="off" value="0" checked {% if not site_lockdown %} checked {% endif %}> Unlocked </label>
                    <label class="btn btn-danger">
                        <input type="radio" name="site_lockdown" autocomplete="off" value="1" {% if site_lockdown %} checked {% endif %}> Locked </label>
                </div>
                </div> 
            <button role="button" class="btn btn-raised btn-primary" style="width:100%;" id="submit-settings">Submit</button>
            -->
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Member Management</h3>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
            <div class="row">
                <div class="form-group is-empty">
                    <label for="likes" class=" control-label" id="userLabel">User</label>
                    <input type="text" name="user" class="form-control" id="user"/>
                    <span class="material-input"></span>
                </div>
            </div>
            <div id="financial-form" class="row">
                <div class="checkbox">
                    <label><input type="checkbox" id="dues_checkbox_financial"> Paid Dues</label>
                </div>
                <button role="button" class="btn btn-raised btn-primary" style="width:100%;" id="submit-financial">Submit</button>
            </div>
            <div id="eval-form" class="row">
                <div class="checkbox">
                    <label><input type="checkbox" id="dues_checkbox_eval"> Paid Dues</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="onfloor_checkbox_eval"> Onfloor Status</label>
                </div>
                <div class="form-group is-empty">
                    <label for="likes" class=" control-label" id="roomNum-evalLabel">Room Number</label>
                    <input type="text" name="roomNum-eval" class="form-control" id="roomNum-eval"/>
                    <span class="material-input"></span>
                </div>
                <div class="form-group is-empty">
                    <label for="likes" class=" control-label" id="housePts-evalLabel">Housing Points</label>
                    <input type="text" name="housePts-eval" class="form-control" id="housePts-eval"/>
                    <span class="material-input"></span>
                </div>
            </div>
            <div id="fid-form" class="row">
                <div class="form-group is-empty">
                    <label for="likes" class=" control-label" id="uid-fidLabel">Username</label>
                    <input type="text" name="uid-fid" class="form-control" id="uid-fid"/>
                    <span class="material-input"></span>
                </div>
                <div class="form-group is-empty">
                    <label for="likes" class=" control-label" id="sigsMissed-fidLabel">Signatures Missed</label>
                    <input type="text" name="sigsMissed-fid" class="form-control" id="sigsMissed-fid"/>
                    <span class="material-input"></span>
                </div>
                <button role="button" class="btn btn-raised btn-primary" style="width:100%;" id="submit-fid">Submit</button>
            </div>
            </div>
            <div class="container-fluid">
            <div id="hm_template0" class="row">
                <div class="row" id="member-0">
                    <div class="col-md-12">
                        <h4 id="date-0"></h4>
                       <div class="checkbox">
                            <label><input type="checkbox" id="excused-0"> Excused</label>
                        </div>
                        <div>
                            <a role="button" class="comment-trigger pull-right">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                Add a comment
                            </a>
                            <div class="comment-field" style="display: none;">
                                <div class="form-group">
                                    <input type="text" class="form-control"
                                           id="comment-0"
                                           placeholder="Comment">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="missed_hms"></div>
        <button role="button" class="btn btn-raised btn-primary" style="width:100%;" id="submit-eval">Submit</button>
    </div>
    </div>
</div>
</div>
{% endblock %}
