{% extends "base_protected.html" %}
{% block title %}
Administration
{% endblock %}
{% block body %}
<div class="container main">
    <h3 class="page-title">Administration</h3>
    <div class="card mb-4">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xs-6 col-sm-2">
                        <div class="stat-number">{{num_current}}</div>
                        <div class="stat-title">Current Students</div>
                    </div>
                     <div class="col-xs-6 col-sm-2">
                        <div class="stat-number">{{num_active}}</div>
                        <div class="stat-title">Active Members</div>
                    </div>
                     <div class="col-xs-6 col-sm-2">
                        <div class="stat-number">{{num_onfloor}}</div>
                        <div class="stat-title">On-Floor Members</div>
                    </div>
                     <div class="col-xs-6 col-sm-2">
                        <div class="stat-number">{{num_fresh}}</div>
                        <div class="stat-title">Intro Accounts</div>
                    </div>
                    {% if is_eval_director %}
                    <div class="col-xs-6 col-sm-2 align-center">
                        <div class="material-switch">
                            <div class="switch-label">Site Lockdown</div>
                            <input type="checkbox" id="siteLockdownSwitch" name="siteLockdownSwitch" data-module="siteSettings" data-setting="siteLockdown"{% if site_lockdown %} checked{% endif %}>
                            <label for="siteLockdownSwitch" class="label-primary"></label>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 align-center">
                        <a href="/manage/new" class="btn btn-danger btn-sm btn-new-year"><i class="bi bi-arrow-repeat"></i> New Year</a>
                    </div>
                    {% else %}
                    <div class="col-xs-6 col-sm-2 align-center">
                        <label for="acceptDuesUntil" class="control-label accept-dues-until">Accept Dues Until</label>
                        <input type="text" name="acceptDuesUntil" class="form-control" value="{{ accept_dues_until }}" data-module="acceptDuesDatepicker" data-setting="acceptDuesUntil" />
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if is_eval_director %}
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="card-title">Add Users</h3>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 remove-padding">
                        <form action="/manage/user/upload" id="upload_user" class="dropzone" data-module="dropzone">
                            <div class="dz-message">
                                <img src="../images/user_upload.svg" width="72px">
                                <div class="upload-title">Mass User Upload</div>
                                <div class="upload-sub">Drag file here or click to upload.</div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form data-module="addUser">
                            <div class="form-group mb-2">
                                <label class="form-label" for="addUserName">Freshman Name</label>
                                <input class="form-control" id="addUserName" name="name" type="text" required>
                            </div>

                            <div class="form-group mb-2">
                                <label class="form-label" for="addUserRoom">Room Number</label>
                                <input class="form-control" id="addUserRoom" name="room" type="text">
                            </div>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" name="onFloor" id="onFloor">
                                <label class="form-check-label" for="onFloor">
                                    On-Floor
                                </label>
                            </div>

                            <input class="btn btn-primary w-100" type="submit" value="Create New User">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if is_eval_director %}
    {% if freshmen|length == 0 %}
    <div class="alert alert-info" role="alert">
        <i class="bi bi-info-circle-fill white" style="padding-right:5px"></i>
        There are currently no freshman accounts.
    </div>
    {% else %}
    <div class="card mb-2">
        <div class="card-header">
            <h3 class="card-title">Freshman Management</h3>
        </div>
        <div class="table-fill mb-2">
            <div class="table-responsive">
                <table class="table table-striped no-bottom-margin" data-module="table" data-order="[[ 0, &quot;asc&quot; ]]" data-length-change="true">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>On Floor</th>
                            <th>Room</th>
                            <th>Evaluation Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for f in freshmen %}
                        <tr>
                            <td>
                                <a href="#" data-module="editUser" data-modal="editFreshmanModal" data-uid="{{f['id']}}">
                                    {{f['name']}}
                                </a>
                            </td>
                            <td>
                                {% if f['onfloor'] %} &#10003; {% endif %}
                            </td>
                            <td>{{f['room']}}</td>
                            <td>{{f['eval_date']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}

    <div class="card mb-2">
        <div class="card-header">
            <h3 class="card-title my-0">
                Member Management

                <a href="/manage/export_active_list" class="btn btn-primary btn-sm float-end">
                    <i class="bi bi-save-fill"></i>
                    Export Active List
                </a>
            </h3>
        </div>
        <div class="table-fill mb-2">
            <div class="table-responsive">
                <table class="table table-striped" data-module="table" data-order="[[ 0, &quot;asc&quot;]]" data-length-change="true">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Active</th>
                            <th>On Floor</th>
                            <th>Room</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in active %}
                        <tr>
                            <td>
                                <img class="aspect aspect11 rounded-circle me-2" width="40" src="https://profiles.csh.rit.edu/image/{{m['uid']}}">
                                <a href="#" data-module="editUser" data-modal="editUserModal" data-uid="{{m['uid']}}">
                                    {{m['name']}}
                                </a>
                            </td>
                            <td>
                                {% if m['active'] %} &#x2605; {% endif %}
                            </td>
                            <td>
                                {% if m['onfloor'] %} &#10003; {% endif %}
                            </td>
                            <td>{% if m['room'] %}{{m['room']}}{% endif %}</td>
                            <td>{{m['housingPoints']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% if is_eval_director %}
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserTitle" aria-hidden="true" data-type="member">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mb-0" id="editUserTitle">Edit User</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="memberName">Member Name</label>
                    <input class="form-control" id="memberName" name="name" type="text">
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="room">Room:</label>
                    <input class="form-control" id="room" name="room" type="text">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="points">Points:</label>
                    <input class="form-control" id="points" name="points" type="number">
                </div>

                <div class="mb-3 p-1 d-flex">
                    <div class="form-check flex-grow-1">
                        <input class="form-check-input" type="checkbox" value="" name="onFloor" id="onFloor">
                        <label class="form-check-label" for="onFloor">
                            On-Floor
                        </label>
                    </div>

                    <div class="form-check flex-grow-1">
                        <input class="form-check-input" type="checkbox" value="" name="dues" id="dues">
                        <label class="form-check-label" for="dues">
                            Paid Dues
                        </label>
                    </div>
                </div>

                <p class="lead">Missed House Meetings</p>

                <div class="alert alert-info no-missed-hm-alert" role="alert">
                    <i class="bi bi-info-circle-fill white pe-2"></i>
                    This member has not missed any house meetings.
                </div>

                <div class="missed-hm-tpl mb-2">
                    <div class="d-flex align-items-center mb-1">
                        <h6 class="hm-date mb-0 flex-grow-1">07/31/2016</h6>
                        <div class="form-check mb-0 flex-grow-1">
                            <input class="form-check-input" type="checkbox" value="" name="hm-excused" id="hm-excused">
                            <label class="form-check-label" for="hm-excused">
                                Excused
                            </label>
                        </div>
                        <button type="button" class="btn">
                            <i class="bi bi-check2 green pe-2"></i>
                            Mark Present
                        </button>
                    </div>
                    <input class="form-control hm-reason" placeholder="Reason" name="reason" type="text" aria-label="Reason">
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editFreshmanModal" tabindex="-1" role="dialog" aria-labelledby="editFreshmanTitle" aria-hidden="true" data-type="freshman">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editFreshmanTitle">Edit Freshman Account</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="freshmanName">Freshman Name</label>
                    <input class="form-control" id="freshmanName" name="name" type="text">
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="freshmanRoom">Room:</label>
                    <input class="form-control" id="freshmanRoom" name="room" type="text">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="evalDate">Evaluation Date:</label>
                    <input class="form-control" id="evalDate" name="evalDate" type="text">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="sigMissed">Signatures Missed:</label>
                    <input class="form-control" id="sigMissed" name="sigMissed" type="number">
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" name="onFloor" id="onFloor">
                    <label class="form-check-label" for="onFloor">
                        On-Floor
                    </label>
                </div>

                <p class="lead">Missed House Meetings</p>

                <div class="alert alert-info no-missed-hm-alert" role="alert">
                    <i class="bi bi-info-circle-fill white pe-2"></i>
                    This member has not missed any house meetings.
                </div>

                <div class="missed-hm-tpl mb-2">
                    <div class="d-flex align-items-center mb-1">
                        <h6 class="hm-date mb-0 flex-grow-1">07/31/2016</h6>
                        <div class="form-check mb-0 flex-grow-1">
                            <input class="form-check-input" type="checkbox" value="" name="hm-excused" id="hm-excused">
                            <label class="form-check-label" for="hm-excused">
                                Excused
                            </label>
                        </div>
                        <button type="button" class="btn">
                            <i class="bi bi-check2 green pe-2"></i>
                            Mark Present
                        </button>
                    </div>
                    <input class="form-control hm-reason" placeholder="Reason" name="reason" type="text" aria-label="Reason">
                </div>

                <p class="lead">Upgrade Account</p>

                <div class="mb-2">
                    <label class="form-label" for="upgradeUid">Member Account Username</label>
                    <input class="form-control" id="upgradeUid" name="upgradeUid" type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="upgradeSigsMissed">Packet Signatures Missed</label>
                    <input class="form-control" id="upgradeSigsMissed" name="upgradeSigsMissed" type="number">
                </div>

                <button type="button" class="btn btn-success w-100 upgrade-btn">
                    Upgrade
                </button>

            </div>

            <div class="modal-footer">
                <input type="button" class="btn btn-danger" value="Delete" />
                <input type="submit" class="btn btn-primary ms-auto" value="Save" />
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserTitle" aria-hidden="true" data-type="financial">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="editUserTitle">Edit User</h4>
                </div>
                <div class="modal-body">
                    <div class="row user-edit-row">
                        <label class="control-label" for="memberName">Member Name</label>
                        <input class="form-control" id="memberName" name="name" type="text">
                    </div>

                    <div class="row user-edit-row">
                        <div class="form-group">
                            <label>
                                <input name="dues" type="checkbox">
                                Paid Dues
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary save-btn">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
