{% extends "nav.html" %}
{% block extraHeader %}
<link href="../static/css/selectize.css" rel="stylesheet">
<link href="../static/css/selectize-bootstrap3.css" rel="stylesheet">
<link href="../static/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
{% endblock %}
{% block extraFooter %}
<script src="../static/js/libraries/selectize.js"></script>
<script src="../static/js/member_management.js"></script>
{% endblock %}
{% block body %}
<div class="container main">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Site Management</h3>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-xs-6">
                        <div class="material-switch" style="text-align:center;">
                            <div class="switch-label">Site Lockdown</div>
                            <input type="checkbox" id="site_lockdown_checkbox" name="site_lockdown_checkbox" {% if site_lockdown %} checked {% endif %}>
                            <label for="site_lockdown_checkbox" class="label-primary"></label>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Member Management</h3>
        </div>

        <form action="/manage/uploaduser" method="post" enctype="multipart/form-data">
            <input type="file" name="data_file" />
            <input type="submit" />
        </form>

        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group is-empty">
                        <label for="likes" class=" control-label" id="userLabel">User</label>
                        <input type="text" name="user" class="form-control" id="user" />
                        <span class="material-input"></span>
                    </div>
                </div>
                <div id="financial-form" class="row">
                    <div class="checkbox">
                        <label><input type="checkbox" id="dues_checkbox_financial"> Paid Dues</label>
                    </div>
                    <button role="button" class="btn btn-raised btn-primary" style="width:100%;" id="submit-financial">Submit</button>
                </div>
                <div id="eval-form" class="row">
                    <div class="checkbox">
                        <label><input type="checkbox" id="dues_checkbox_eval"> Paid Dues</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="onfloor_checkbox_eval"> Onfloor Status</label>
                    </div>
                    <div class="form-group is-empty">
                        <label for="likes" class=" control-label" id="roomNum-evalLabel">Room Number</label>
                        <input type="text" name="roomNum-eval" class="form-control" id="roomNum-eval" />
                        <span class="material-input"></span>
                    </div>
                    <div class="form-group is-empty">
                        <label for="likes" class=" control-label" id="housePts-evalLabel">Housing Points</label>
                        <input type="text" name="housePts-eval" class="form-control" id="housePts-eval" />
                        <span class="material-input"></span>
                    </div>
                </div>
                <div id="fid-form" class="row">
                    <div class="form-group is-empty">
                        <label for="likes" class=" control-label" id="uid-fidLabel">Username</label>
                        <input type="text" name="uid-fid" class="form-control" id="uid-fid" />
                        <span class="material-input"></span>
                    </div>
                    <div class="form-group is-empty">
                        <label for="likes" class=" control-label" id="sigsMissed-fidLabel">Signatures Missed</label>
                        <input type="text" name="sigsMissed-fid" class="form-control" id="sigsMissed-fid" />
                        <span class="material-input"></span>
                    </div>
                    <button role="button" class="btn btn-raised btn-primary" style="width:100%;" id="submit-fid">Submit</button>
                </div>
            </div>
            <div class="container-fluid">
                <div id="hm_template0" class="row">
                    <div class="row" id="member-0">
                        <div class="col-md-12">
                            <h4 id="date-0"></h4>
                            <div class="checkbox">
                                <label><input type="checkbox" id="excused-0"> Excused</label>
                            </div>
                            <div>
                                <a role="button" class="comment-trigger pull-right">
                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Add a comment
                                </a>
                                <div class="comment-field" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="comment-0" placeholder="Comment">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="missed_hms"></div>
            <button role="button" class="btn btn-raised btn-primary" style="width:100%;" id="submit-eval">Submit</button>
        </div>
    </div>
</div>
</div>
{% endblock %}
