{% extends "base.html" %}
{% block nav %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/dashboard"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-stats"></span> Evals <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/intro_evals"><span class="glyphicon glyphicon-star"></span> Introductory Evaluations</a></li>
                        <li><a href="/spring_evals"><span class="glyphicon glyphicon-tree-deciduous"></span> Membership Evaluations</a></li>
                        <li><a href="/conditionals"><span class="glyphicon glyphicon-exclamation-sign"></span> Current Conditionals</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list-alt"></span> Forms <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/major_project"><span class="glyphicon glyphicon-star"></span> Major Project</a></li>
                        {% if student %}
                        <li><a href="/co_op"><span class="glyphicon glyphicon-briefcase"></span> Co-Op Submission</a></li>
                        {% endif %}
                        {% if is_intromember %}
                        <li><a href="/intro_evals_form"><span class="glyphicon glyphicon-blackboard"></span> Introductory Evaluations</a></li>
                        {% endif %}
                    </ul>
                </li>

                <li><a href="/housing"><span class="glyphicon glyphicon-home"></span> Housing</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-ok"></span> Attendance
                    {% if is_eboard and pending_review != 0 %}
                    ({{pending_review}})
                    {% endif %}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/attendance_cm"><span class="glyphicon glyphicon-user"></span> Directorship Meeting </a></li>
                        <li><a href="/attendance_ts"><span class="glyphicon glyphicon-blackboard"></span> Technical Seminar</a></li>
                        {% if is_eboard %}
                        <li><a href="/attendance/history"><span class="glyphicon glyphicon-calendar"></span> Attendance History</a></li>
                        {% endif %}
                        {% if is_eval_director %}
                        <li><a href="/attendance_hm"><span class="glyphicon glyphicon-home"></span> House Meeting</a></li>
                        {% endif %}
                    </ul>
                </li>

                {% if is_eboard or is_rtp%}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-wrench"></span> Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        {% if is_financial_director or is_eval_director %}
                            <li><a href="/manage"><span class="glyphicon glyphicon-user"></span> Member Management</a></li>
                        {% endif %}

                        {% if is_eval_director %}
                            <li><a href="/slideshow/intro"><span class="glyphicon glyphicon-eye-open"></span> Introductory Evaluations Presentation</a></li>
                            <li><a href="/slideshow/spring"><span class="glyphicon glyphicon-eye-open"></span> Membership Evaluations Presentation</a></li>
                        {% endif %}

                        <li><a href="/logs"><span class="glyphicon glyphicon-list"></span> User Logs</a></li>

                        {% if is_eval_director or is_rtp %}
                            <li><a href="/clearcache"><span class="glyphicon glyphicon-floppy-remove"></span> Clear Cache</a></li>
                        {% endif %}

                        {% if is_rtp %}
                            <li><a href="/restart"><span class="glyphicon glyphicon-refresh"></span> Restart Conditional</a></li>
                        {% endif %}
                    </ul>
                </li>

                {% endif %}


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown navbar-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="https://profiles.csh.rit.edu/image/{{username}}">
                        {{username}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                        <li><a href="https://profiles.csh.rit.edu/user/{{username}}"><span class="glyphicon glyphicon-user"></span> Profiles</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="https://members.csh.rit.edu/"><span class="glyphicon glyphicon-globe"></span> Members Portal</a></li>
                        <li><a href="https://github.com/ComputerScienceHouse/conditional/issues"><span class="glyphicon glyphicon-exclamation-sign"></span> Report an Issue</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% if admin_warning %}
<div class="container">
    <div class="alert alert-warning alert-admin" role="alert">
        <strong>Conditional is in lockdown!</strong> Data shown relating to any on-going evaluation is confidential, do not disclose any information to anyone. 
    </div>
</div>
{% endif %}
{% endblock %}
