{% extends "nav.html" %}
{% block title %}
New Year Guide
{% endblock %}
{% block body %}
<div class="container main">
    <div id="new-welcome">
        <h3 class="page-title">Welcome!</h3>
        <p>Is it that time of year already? Before we get started, please <strong>be careful and ready everything before continuing</strong>. Some actions taken on the next few steps can be detrimental if followed in the middle of the year. Once you are ready to proceed, click 'Begin' below.</p>
        <a href="#" data-module="newYear" data-step="welcome" class="btn btn-primary btn-new-next center-block"><span class="glyphicon glyphicon-chevron-down"></span> Begin</a>
    </div>
    <div id="new-clear" style="display: none;">
        <h3 class="page-title">Clear Active Members and Floor Roster</h3>
        <p>This is the scary part. In order to get everything ready for next year, we need to clear everyone from Active status and then clear the housing board. Once we get a fresh start, we will forward you onto the housing page to fill out the new housing board.</p>
        <a href="#" data-module="newYear" data-step="clear" class="btn btn-primary btn-new-next center-block"><span class="glyphicon glyphicon-erase"></span> Clear Active Group and Housing Board</a>
    </div>
    <div id="new-housing" style="display: none;">
        <h3 class="page-title">That was easy!</h3>
        <p>The next and final step is to go through and populate the housing board, the button below will even take you there. Just a note: adding people will automatically mark them as active, since they will be charged dues.</p>
        <a href="/housing" class="btn btn-primary btn-new-next center-block"><span class="glyphicon glyphicon-ok"></span> Onward and Upward!</a>
    </div>
</div>

<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                SPIN...
            </div>
        </div>
    </div>
</div>
{% endblock %}
