.co-op-description {
  margin-bottom: 25px;
}

.co-op-group {
  margin-top: 25px;
}

.co-op-option {
  padding-left: 10px;
}

.radio-inline input[type='radio'],
.radio input[type='radio'],
input[type='radio'] {
  position: fixed;
  margin-top: 20px;
}
