.dashboard-user {
  .profile-image {
    border-radius: 200px;
    padding: 10px;
    width: 100%;
    max-width: 150px;
  }
  .panel-inner-padding {
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .username {
    margin-bottom: 5px;
  }
  .email {
    margin-top: 5px;
  }
}

.title {
  font-weight: bold;
}

.dashboard-grid {
  .masonry-item {
    width: 49%;
  }
}

.profile-container {
  padding: 0 0 0 15px;
}

.mp-description {
  margin: 5px 0 15px;

  word-wrap: break-word;

  &:last-of-type {
    margin: 5px 0;
  }
}

.alert-info {
  .btn {
    margin-top: 10px;
  }
}

