.hm-search {
    margin: 20px;
}

table.hm-attendance {
    thead:first-child {
        tr:first-child {
            th:nth-of-type(2) {
                text-align: center;
            }
        }
    }
    
    tbody {
        tr {
            td:first-of-type {
                font-size: 125%;
                
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            
            td:nth-of-type(2) {
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}