.room-name {
  margin: 7px 0 0;
}

.room-number {
  margin-top: 17px;
  padding-left: 20px;
}

.col-in-queue {
  width: 60px;
  text-align: center;
}

.occupant-list {
  padding: 0;
  list-style: none;
}
