.switch-label {
  display: inline-block;
  padding: 40px 10px;
  text-align: center;
}

.upload-title {
  padding-top: 20px;
  height: 55px;
  color: rgba(0, 0, 0, .2);
  font-size: 24px;
  font-weight: bold;
}

.upload-sub {
  height: 15px;
  color: rgba(0, 0, 0, .2);
  font-size: 14px;
}

.remove-padding {
  padding: 0;
}

.onfloor-box {
  padding: 25px 0 0;
  text-align: center;
}

.user-submit {
  margin: 10px 0 0;
  width: 100%;
}

.member-form {
  padding: 10px;
}

.table-img {
  margin: -2px 5px 0 0;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  vertical-align: center;
}

.vertical-alignment-helper {
  display: table;
  width: 100%;
  height: 100%;

  pointer-events: none;
}
.vertical-align-center {
  // To center vertically
  display: table-cell;
  vertical-align: middle;

  pointer-events: none;
}
.modal-content {
  // To center horizontally
  margin: 0 auto;
  // Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it
  width: inherit;
  height: inherit;

  pointer-events: all;
}

.hp-input {
  display: inline-block;
  width: 50px;
  text-align: center;
}

.hm-reason {
  margin-top: -15px;
}

.user-edit-row {
  margin: 10px 0 30px;
}

.hm-wrapper {
  margin: 0 5px 10px;
  border-radius: 0;
  background-color: #f5f5f5;
  padding: 10px 0 0;
}

.hm-date {
  margin-top: 3px;
  font-size: 16px;
  font-weight: 500;
}

.hm-present-btn {
  float: right;
  box-shadow: none;
  background-color: #f5f5f5;
}


.modal-body {
  padding-top: 0;
}

.dropdown-list-item {
  display: block;
  clear: both;
  padding: 3px 20px;
  line-height: 1.846;
  white-space: nowrap;
  color: #666;
  font-weight: 400;

  :focus,
  :hover {
    background-color: #eee;
    text-decoration: none;
    color: #141414;
  }
}

.btn-mp {
  margin-top: 20px;
  margin-right:15px;
  float: right;
}

.stat-number {
  margin: 0;
  text-align: center;
  font-size: 40px;
}

.stat-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
}
