.switch-label {
    display: inline;
    padding-right: 10px;
}

.upload_title {
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 24px;
    padding-top: 20px;
    height: 55px;
}

.upload_sub {
    color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    height: 15px;
}

.remove_padding {
    padding: 0;
}

.onfloor_box {
   padding: 25px 0 0 0;
   text-align: center;
}

.user_submit {
    width: 100%;
    margin: 10px 0 0 0;
}

.member_form {
    padding: 10px 10px 10px 10px;
}

.table_img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: -2px 5px 0 0;
    vertical-align: center;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.hp-input {
    width: 50px;
    text-align: center;
    display: inline-block;
}

.hm-reason {
    margin-top: -15px;
}

.user-edit-row {
    margin: 10px 0 30px 0;
}

.hm-wrapper {
    background-color: #f5f5f5;
    border-radius: 0px;
    margin: 0 5px;
    padding: 10px 0 0 0;
}

.hm-date {
    margin-top: 3px;
    font-size: 16px;
    font-weight: 500;
}

.hm-present-btn {
    float: right;
    box-shadow: none;
    background-color: #f5f5f5;
}


.modal-body {
    padding-top: 0;
}

.dropdown-list-item {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.846;
    color: #666;
    white-space: nowrap;
}

.dropdown-list-item:focus, .dropdown-list-item:hover {
  text-decoration: none;
  color: #141414;
  background-color: #eee; }
  
.btn-mp {
    margin-top: 20px;
}