/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
  background: #fff;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.reveal {
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  font-weight: normal;
}

::selection {
  background: #98bdef;
  text-shadow: none;
  color: #fff;
}

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
}


/*********************************************
 * HEADERS
 *********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-shadow: none;
  line-height: 1;
  letter-spacing: normal;
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;

  word-wrap: break-word;
}

.reveal h1 {
  margin: 0 0 60px 0;
  font-size: 2.5em;
}

.reveal h2 {
  margin-bottom: 40px;
  font-size: 1.6em;
}

.reveal h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 1.3em;
}

.reveal .item p {
  font-weight: normal;
}

.reveal h4 {
  margin: 40px 0;
  font-size: 1em;
  font-weight: normal;
}

.reveal h1 {
  text-shadow: none;
}


/*********************************************
 * OTHER
 *********************************************/

.reveal p {
  margin: 20px 0;
  line-height: 1.3;
}


/* Ensure certain elements are never larger than the slide itself */

.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  margin: 0 0 0 1em;
  text-align: left;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal q,
.reveal blockquote {
  quotes: none;
}

.reveal blockquote {
  display: block;
  position: relative;
  margin: 20px auto;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
  background: rgba(255, 255, 255, .05);
  padding: 5px;
  width: 70%;
  font-style: italic;
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  position: relative;
  margin: 20px auto;
  box-shadow: 0 0 6px rgba(0, 0, 0, .3);
  width: 90%;
  text-align: left;
  line-height: 1.2em;
  font-family: monospace;
  font-size: .55em;

  word-wrap: break-word;
}

.reveal code {
  font-family: monospace;
}

.reveal pre code {
  display: block;
  padding: 5px;
  max-height: 400px;
  overflow: auto;

  word-wrap: normal;
}

.reveal table {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 75%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  & .date {
    text-align: left;
  }
  & .reason {
    text-align: right;
    font-style: italic;
  }
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  border-bottom: 1px solid;
  padding: .2em .5em .2em .5em;
  text-align: left;
}

.reveal table th[align='center'],
.reveal table td[align='center'] {
  text-align: center;
}

.reveal table th[align='right'],
.reveal table td[align='right'] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
}

.reveal sub {
  vertical-align: sub;
}

.reveal small {
  display: inline-block;
  vertical-align: top;
  line-height: 1.2em;
  font-size: .6em;
}

.reveal small * {
  vertical-align: top;
}


/*********************************************
 * LINKS
 *********************************************/

.reveal a {
          transition: color .15s ease;
  text-decoration: none;
  color: #2a76dd;

  -webkit-transition: color .15s ease;
     -moz-transition: color .15s ease;
}

.reveal a:hover {
  border: none;
  text-shadow: none;
  color: #6ca0e8;
}

.reveal .roll span:after {
  background: #1a53a1;
  color: #fff;
}


/*********************************************
 * IMAGES
 *********************************************/

.reveal section img {
  margin: 15px 0;
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  background: rgba(255, 255, 255, .12);
}

.reveal section img.plain {
  border: 0;
  box-shadow: none;
}

.reveal a img {
          transition: all .15s linear;

  -webkit-transition: all .15s linear;
     -moz-transition: all .15s linear;
}

.reveal a:hover img {
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, .55);
  background: rgba(255, 255, 255, .2);
}


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #2a76dd;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #2a76dd;
}

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #2a76dd;
}

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #2a76dd;
}

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #6ca0e8;
}

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #6ca0e8;
}

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #6ca0e8;
}

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #6ca0e8;
}


/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
  background: rgba(0, 0, 0, .2);
}

.reveal .progress span {
          transition: width 800ms cubic-bezier(.26, .86, .44, .985);
  background: #2a76dd;

  -webkit-transition: width 800ms cubic-bezier(.26, .86, .44, .985);
     -moz-transition: width 800ms cubic-bezier(.26, .86, .44, .985);
}
