@use '../partials/variables';

.dtp {
  div {
    &.dtp-date,
    &.dtp-time {
      background: variables.$primary-color;
    }

    &.dtp-actual-year {
      color: lighten(variables.$primary-color, 50%);
    }
  }

  .p10 {
    > a {
      color: lighten(variables.$primary-color, 50%);
    }
  }

  table {
    &.dtp-picker-days {
      tr {
        td {
          a {
            &.selected {
              background: variables.$primary-color;
            }
          }
        }
      }
    }
  }

  .dtp-content {
    .dtp-date-view {
      header {
        &.dtp-header {
          background: darken(variables.$primary-color, 5%);
        }
      }
    }
  }

  .dtp-buttons {
    background: #fff;
  }
}
