table.dataTable {
  margin-top: 0 !important;
}

.pagination {
  text-align: center;
}

.dataTables_wrapper div.row:last-of-type div.col-sm-7 {
  width: 100%;
}

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0 0 10px 0 !important;
  text-align: center;
}

.dataTables_length {
  margin-top: 5px;
  margin-left: 15px;
}

div.dataTables_filter {
  margin-top:5px;
  margin-right: 15px;
}

@media(max-width:768px){
  .dataTables_paginate {
    margin-right: 0 !important;
  }
}