$btn-flat-hover-bg: rgba(153, 153, 153, .2);
.btn-flat {
  position: relative;
  margin: 0 5px;
  outline: 0 !important;
  border: 0;
  box-shadow: none !important;
  background-color: transparent;
  padding: 8px 25px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $btn-flat-hover-bg;
  }

  &:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    background: darken($btn-flat-hover-bg, 20%) radial-gradient(circle, #7a1158 10%, #b0197e 11%) no-repeat;
    background-size: 1000% 1000%;
  }
}
