.sub-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.table-fill {
  padding: 0;

  td,
  th {
    &:first-of-type {
      padding-left: 15px !important;
    }
    &:last-of-type {
      padding-right: 15px !important;
    }
  }
}

.no-bottom-margin {
  margin-bottom: 0;
}

.glyphicon {
  &.green {
    color: #4da74d;
  }

  &.red {
    color: #cb4b4b;
  }

  &.yellow {
    color: #f1c40f;
  }
}

.danger {
  background-color: #ff262d;
}

.warning {
  background-color: #fb3;
}

.success {
  background-color: #00b44a;
}

.white {
  color: #fff;
}

.align-center {
  text-align: center;
}

.page-title {
  margin: 20px 0 30px;
}

tr {
  &.disabled {
    opacity: .5;
  }
}

.footer-version {
  display: block;
  opacity: .3;
  margin: 10px auto 20px;
  text-align: center;
  color: #000;
  font-size: .9em;
  &:hover {
    text-decoration: none;
    color: #000;
  }
}
